    <% layout("/layouts/boilerplate") %>
    <div class="row ">
        <div class="col-8 offset-2">
    <br><br>
    <h3 >Create New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label">Title</label><br>
         <input name="listing[title]" placeholder="Add Title" type="text" class="form-control" required>
         <div class="valid-feedback">Title looks good!</div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label><br>
            <textarea name="listing[description]" placeholder="Add Description" class="form-control" required></textarea>
            <div class="invalid-feedback">Enter nice description</div>
        </div>

         <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label><br>
            <input name="listing[image]" type="file" class="form-control" required>

         </div>

         <div class="row">
            <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label><br>
         <input name="listing[price]" placeholder="Add Price"  class="form-control" required>
         <div class="invalid-feedback">Please enter valid price</div>
         </div>
         
         <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label><br>
          <input name="listing[country]" placeholder="Add Country" type="text" class="form-control" required>
          <div class="invalid-feedback">Please enter valid country</div>
        </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label><br>
          <input name="listing[location]" placeholder="Add Location" type="text" class="form-control" required>
          <div class="invalid-feedback">Please enter valid location</div>
        </div>

         <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
    </div>
    </div>